<h1 style="margin-bottom: 20px;">Staff<span style="font-size: medium; font-weight: normal; color: grey;"> /
        details</span></h1>

<div class="info">
    <div class="staff-info">
        <div class="staff-details">
            <p>PERSONAL INFO.</p>
            <p>First Name: <span>{{staffData?.first_name}} </span> </p>
            <p>Middle Name: <span>{{staffData?.middle_name}} </span> </p>
            <p>Last Name: <span>{{staffData?.last_name}} </span></ p>
            <p>Sex: <span>{{staffData?.sex}} </span> </p>
            <p>Date joined: <span>{{staffData?.date_joined}}</span></p>
            </div>
            <div class="staff-status">
            <p>SUBSCRIPTION STATUS</p>
            <p>Position: <span>{{staffData?.role_name}} </span> </p>
            <p>Telephone: <span>{{staffData?.phone}} </span> </p>
            <p>Email: <span>{{staffData?.email}}</span></p>
        </div>
    </div>
    <button (click)="editStaff(staffData.id)">Edit</button>
</div>