<h1 style="margin-bottom: 20px;">Clubs<span style="font-size: medium; font-weight: normal; color: grey;"> /
    details</span></h1>

<div class="name">
    <div>{{clubData?.name}}</div>
</div>
<div class="club-info">
    <div class="location">
        <p>LOCATION</p>
        <p>Zone: <span>{{clubData?.zone}} </span> </p>
        <p>Region: <span>{{clubData?.region}} </span> </p>
        <p>District: <span>{{clubData?.district}} </span></ p>
        <p>Sub-District: <span>{{clubData?.sub_district}} </span> </p>
        <p>Ward: <span>{{clubData?.ward}}</span></p>
        <p>Street: <span>{{clubData?.street}}</span></p>
    </div>

    <div class="supervisor">
        <p>SUPERVISOR</p>
        <p>Name: <span> {{supervisorData?.first_name}} {{supervisorData?.last_name}} </span></p>
        <p>Title: <span> {{supervisorData?.position}}</span></p>
        <p>Tel: <span> {{supervisorData?.tel}}</span></p>
        <p>Email: <span> {{supervisorData?.email}}</span></p>
    </div>

    <div class="facility">
        <p>FACILITY</p>
        <p>Health Facility: <span>{{clubData?.health_facility}}</span></p>
        <p>Tel: <span>{{clubData?.phone}}</span></p>
        <p>Email: <span>{{clubData?.email}}</span></p>
        <p>Office: <span>{{clubData?.office}}</span></p>
    </div>
</div>

<button (click)="editClub.emit(clubData.id)">Edit</button>