<p>Members</p>
<button (click)="registerMember()">Add member</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let row"> {{row.first_name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="middle_name">
    <th mat-header-cell *matHeaderCellDef> Middle Name</th>
    <td mat-cell *matCellDef="let row"> {{row.middle_name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef> Last name </th>
    <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
  </ng-container>

  <!-- Tel Column -->
  <ng-container matColumnDef="tel">
    <th mat-header-cell *matHeaderCellDef> Tel </th>
    <td mat-cell *matCellDef="let row"> {{row.tel}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let row"> {{row.status}} </td>
  </ng-container>

  <!-- fee status Column -->
  <ng-container matColumnDef="fee_status">
    <th mat-header-cell *matHeaderCellDef> Membership Fee </th>
    <td mat-cell *matCellDef="let row"> {{row.fee_status}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedMember(row.id)"></tr>
</table>

<br>
<br>