<h1 style="margin-bottom: 20px;">Members<span style="font-size: medium; font-weight: normal; color: grey;"> /
    registration form</span></h1>


<form class="memberRegForm" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <p style="font-size: small; font-weight: normal; color: grey;">Please fill this form to register a club.</p>

  <mat-card-content>


    <mat-form-field class="fieldCss" appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name">
      <mat-error *ngIf="registrationForm.get('first_name').hasError('required')"> Member Name is required </mat-error>
    </mat-form-field>

    <mat-form-field class="fieldCss" appearance="fill">
      <mat-label>Middle Name</mat-label>
      <input matInput formControlName="middle_name">
      <mat-error *ngIf="registrationForm.get('middle_name').hasError('required')"> Middle Name is required </mat-error>
      <mat-icon matSuffix>local_hospital</mat-icon>
    </mat-form-field>

    <mat-form-field class="fieldCss" appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name">
      <mat-error *ngIf="registrationForm.get('last_name').hasError('required')"> Last Name is required </mat-error>
      <mat-icon matSuffix>local_hospital</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sex</mat-label>
      <mat-select formControlName="sex" required>
        <mat-option value="1">Male</mat-option>
        <mat-option value="2">Female</mat-option>
      </mat-select>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="fieldCss">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="pat@example.com" [formControl]="registrationForm.get('email')" required>
      <mat-error *ngIf="registrationForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
 
    <mat-form-field appearance="fill" class="fieldCss">
      <mat-label>Phone number</mat-label>
      <input matInput type="tel" formControlName="phone" required>
      <mat-icon matSuffix>phone</mat-icon>
      <mat-error *ngIf="registrationForm.get('phone').hasError('required')"> Phone Number is required </mat-error>
    </mat-form-field>


    <mat-form-field class="fieldCss" appearance="fill">
      <mat-label> Role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roles | async" [value]="role.id">{{ role.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="registrationForm.get('role').hasError('required')"> Role is required
      </mat-error>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field> 

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" required>
        <mat-option value="1">Active</mat-option>
        <mat-option value="2">Domant</mat-option>
        <mat-option value="3">Dead</mat-option>
      </mat-select>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Is Post TB</mat-label>
      <mat-select formControlName="is_post_tb" required>
        <mat-option value="True">Yes</mat-option>
        <mat-option value="False">No</mat-option>
      </mat-select>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>


    <mat-form-field class="fieldCss" appearance="fill">
      <mat-label> Club</mat-label>
      <mat-select formControlName="club">
        <mat-option *ngFor="let club of clubs | async" [value]="club.id">{{club.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="registrationForm.get('club').hasError('required')"> Club Name is required </mat-error>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="fieldCss" appearance="fill">
      <mat-label> Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="registrationForm.get('password').hasError('required')"> Password is required </mat-error>
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

    <mat-form-field class="fieldCss" appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput formControlName="confirmPassword">
      <mat-error *ngIf="registrationForm.get('password').hasError('required')"> Confirm Password is required
      </mat-error>
      <!-- <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match></mat-error> -->
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>


  </mat-card-content>
  <mat-card-actions align="start">
    <button [disabled]="registrationForm.invalid" type="submit" mat-button color="primary">Submit</button>
    <button mat-button colour="accent">Cancel</button>
  </mat-card-actions>
</form>
<br>
<br>