<h1 style="margin-bottom: 20px;">Members<span style="font-size: medium; font-weight: normal; color: grey;"> /
        details</span></h1>

<div class="info">
    <div class="member-info">
        <div class="member-details">
            <p>PERSONAL INFO.</p>
            <p>First Name: <span>{{memberData?.first_name}} </span> </p>
            <p>Middle Name: <span>{{memberData?.middle_name}} </span> </p>
            <p>Last Name: <span>{{memberData?.last_name}} </span></ p>
            <p>Club Name: <span>{{memberData?.club}} </span> </p>
            <p>Date joined: <span>{{memberData?.date_joined}}</span></p>
        </div>
    
        <div class="member-status">
            <p>SUBSCRIPTION STATUS</p>
            <p>Role: <span>{{memberData?.role}} </span> </p>
            <p>Status: <span>{{memberData?.status}} </span> </p>
            <p>Membership: <span>{{memberData?.fee_status}} </span></ p>
            <p>Telephone: <span>{{memberData?.tel}} </span> </p>
            <p>Email: <span>{{memberData?.email}}</span></p>
        </div>
    </div>
    <button (click)="editMember.emit(memberData.id)">Edit</button>
</div>

