.datePicker{
 justify-content: center;
 padding-top: 5vh;
 text-align: center;
}
mat-form-field{
    width: 15%;
    padding-right: 5vh;
}


.demo-chart{
    width: 50%;
    float: left;
}

.demo-chart-2{
    width: 50%;
    float: right;
}



.welcome-head{
    display: flex;
    justify-content:space-evenly;
}

.welcome-content{
    display: flex;
    justify-content:space-evenly;
}

.welcome{
    padding-top: 10%;
}
