<!-- <div id="home-container">
  <div id="pie-chart-section">
    <p class="chart-title">System Entity Count</p>
    <div echarts [options]="options" [theme]="theme" id="metric-chart"></div>
  </div>
  <div id="entity-selection">a</div>
</div> -->

<div id="home-container">
  <!-- <div id="count-section">
    <div *ngFor="let count of countRegister" class="box">
      <div>
        <div class="box-count">{{count.count}} </div>
        <div class="box-name">{{count.name}} </div>
      </div>
    </div>
  </div> -->

  <h1>Home</h1>
  <!-- project summary -->
  <h2>System summary</h2>

  <div class="section2">
    <div class="pie-chart-section">
      <p class="chart-title">TB stats</p>
      <div echarts [options]="options" id="metric-chart"></div>
    </div>
    <div class="boxes-right">
      <div *ngFor="let count of countRegister" class="box2">
        <div>
          <div class="box-count2">{{count.count}} </div>
          <div class="box-name2">{{count.name}} </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section3">
    <div class="project-members">
      <p class="chart-title">Members</p>
      <echarts class="chart2" [initOpts]="initOpts" [options]="options2"></echarts>
    </div>
    <div class="gender-count">
      <p class="chart-title">Gender Count</p>
      <echarts class="chart2" [initOpts]="initOptsGender" [options]="genderOptions"></echarts>
    </div>
  </div>
</div>